@mixin box3-text-block{
  background-color: white;
  width: 50%;
  height: auto;
  margin: 40px 0;
  padding: 40px;
}

@mixin box3-text-founders-id{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@mixin box3-text-founders-pics{
  width: 50px;
  margin-right: 15px;
}
