@mixin display-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin display-flex-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin all-a{
  color: black;
  text-decoration: none;
  &:hover{
    color: blue;
  }
}

// colore sfondo box1 e 3
$bg-color: rgb(255,231,210);
$tx-color: rgb(88,64,44);
