@import 'common';
@import 'variables';
@import 'header';
@import 'box1';
@import 'box2';
@import 'box3';
@import 'footer';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  @include all-a;
}

header{
  @include margin-header;
  nav{
    @include display-flex-nav;
    #logo{
      @include display-flex-center;
    }

    ul{
      @include display-flex-center;
      li{
        @include list-rules;
      }
      button{
        @include list-button-rules;
      }

    }
  }
// fine nav
  #under-nav{
    @include header-main;

    & > div{
      @include header-left;

      h1{
        font-size: 40px;
      }

      span{
        color: grey;
      }

      & > div{

        button{
          @include buttons-header;
        }

      }

    }
    img{
      @include img-header-size;
    }

  }

}
// fine header

main{
  #box1{
    @include display-flex-vertical;
    @include box1-rules;

    h2{
      @include box1-title;
    }

    & > div{
      @include box1-display-img;
      img{
        @include box1-img;
      }

    }

    & > img {
      @include box1-big-img;
      margin-bottom: 50px;
    }

    hr{
      @include box1-dividing-line;
    }

    #safe-cat{
      @include box1-safe-cat;
    }
  }
  // fine box1

  #box2{
    @include display-flex-vertical;
    margin: 100px 0;
    .box2-to-left{

      & > img{
        @include box2-screen-img;
      }

      & > div{
        @include box2-div-float-right;
        img{
          @include box2-div-float-img;
        }
      }

    }

    .box2-to-right{
      margin: 50px 0;
      & > img{
        @include box2-screen-img;
        float: right;
      }

      & > div{
        @include box2-div-float-left;
        img{
          @include box2-div-float-img;
        }
      }

    }

  }
// fine box2

  #box3{
    @include display-flex-vertical;
    background-color: $bg-color;
    padding-top: 80px;

    #text {

      @include box3-text-block;

      #founders{

        @include box3-text-founders-id;

        & > div:first-child{
          img{
            @include box3-text-founders-pics;
          }
        }

        & > div:last-child{
          p:first-child{
            color: blue;
          }
        }

      }
    }

    button{
      @include buttons-header;
    }

    span{
      color: grey;
    }

    a{
      margin: 30px 0 80px;
    }
  }
// fine box3

}
// fine main

footer{
  @include footer-display;
  #logo-footer{
    @include display-flex-center;
    img{
      @include footer-logo;
    }
    h3 > a{
      color: blue;
      &:hover{
        text-decoration: underline;
      }
    }
  }

  & > div > ul li{
    @include footer-list;
  }
}
